# Lokalny yarn release (GitHub PAT)
# Fine-grained: Contents Read and write on mAIa-dIAry/AbyssDesign
# Classic: repo scope
GITHUB_TOKEN=

# Nie używane lokalnie. Wklej token npm jako secret GitHub Actions:
# https://github.com/mAIa-dIAry/AbyssDesign/settings/secrets/actions
# Name: NPM_TOKEN
# NPM_TOKEN=
